
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: title;
    src: url(fonts/middledeco.ttf);
}
@font-face {
    font-family: general;
    src: url(fonts/cardinal.ttf);
}
@font-face {
    font-family: classesTitle;
    src: url(fonts/ancient.ttf)
}
%titleFont {
    font-family: title;
    color: rgb(255, 255, 255);
}
%subheaderFont {
    font-family: general;
    font-size: 1.7em;
    color: rgb(255, 255, 255);
    letter-spacing: .11em;
}
%button {
    font-family: general;
    background: linear-gradient(0deg, rgba(213,132,0,1) 0%, rgba(136,52,0,1) 70%);
    border-color: rgb(197, 105, 0);
    font-size: 1.2em;
    color: rgb(255, 255, 255);
}
%classTitleFont {
    font-family: classesTitle;
    font-size: 2em;
}


body {
    background-color: rgb(20, 54, 0);
    text-align: center;
}
.subHeadTxt {
    @extend %subheaderFont;
}




#titleDiv {
    padding: 3em;
}
#titleTxt {
    @extend %titleFont;
    font-size: 2.5em;
}





#introDiv
    p {
        margin-bottom: 1em;
    }
    button {
        @extend %button;
        margin: 1em;
        padding: .3em;
}



#enterNameDiv
    p {
        margin-bottom: 1em;
    }
    button {
        @extend %button;
    }
    input {
        @extend %subheaderFont;
        font-size: 1em;
        border-style: outset;
        border-width: 1px;
        border-color: rgb(253, 253, 253);
        background-color: rgb(71, 26, 0);
        color: rgb(255, 255, 255);
        text-align: center;
        width: 20%;
        padding: .1em;
    }
    input:focus {
        background-color: rgb(5, 83, 73);
}



#classesDiv
    button {
        @extend %button;
        width: fit-content;
        margin: .5em;
}


#classesDescriptionDiv {
    margin-top: 1.5em;
    text-align: center;
}
#classesSubHeaderTxt, #classesDescriptionTxt {
    font-size: 1.2em;
}
#classesSubHeaderTxt {
    margin-bottom: 2em;
}
#classesDescriptionTitle {
    @extend %classTitleFont;
}
#classesDescriptionTxt {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1em;
}






    







