
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // border: 1px solid yellow;
}

@font-face {
    font-family: title;
    src: url(../fonts/middledeco.ttf);
}
@font-face {
    font-family: general-text;
    src: url(../fonts/cardinal.ttf);
}
@font-face {
    font-family: classesTitle;
    src: url(../fonts/middle.ttf)
}
%titleFont {
    font-family: title;
    font-size: 2.5em;
    color: rgb(255, 255, 255);
}
%subheaderFont {
    font-family: general-text;
    font-size: 1.7em;
    color: rgb(255, 255, 255);
    letter-spacing: .11em;
}
%button {
    font-family: general-text;
    background: linear-gradient(0deg, rgba(213,132,0,1) 0%, rgba(136,52,0,1) 70%);
    border-color: rgb(197, 105, 0);
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    margin: .5em;
    padding: .3em;
}
%classTitleFont {
    font-family: classesTitle;
    font-size: 1.4em;
}


body {
    background-color: rgb(20, 54, 0);
    text-align: center;
}
.subHeadTxt {
    @extend %subheaderFont;
}
#container {
    button:hover, button:focus {
        color: rgb(255, 136, 0);
    }   
}
#sources {
    button {
        @extend %button;
        position: fixed;
        left: 0;
        bottom: 0;
    }
    div {
        display: inline;
    }
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: .5em;
}

.hey {
    font-size: 30em;
}





#titleDiv {
    padding: 3em;
}
#titleTxt {
    @extend %titleFont;
}





#introDiv {
    p {
        margin-bottom: 1em;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    button {
        @extend %button;
        margin: 1em;
        padding: .3em;
    }
}



#enterNameDiv {
    p {
        margin-bottom: 1em;
    }
    button {
        @extend %button;
        margin: 1em;
    }
    input {
        @extend %subheaderFont;
        font-size: 1.2em;
        border-style: outset;
        border-width: 1px;
        border-color: rgb(253, 253, 253);
        background-color: rgb(71, 26, 0);
        color: rgb(255, 255, 255);
        text-align: center;
        width: 20%;
        padding: .1em;
    }
    input:focus {
        background-color: rgb(1, 44, 38);
    }
}



#classesDiv {
    button {
        @extend %button;
        margin-bottom: 1.8em;
    }
}
#classesDescriptionDiv {
    margin-top: 1.5em;
    text-align: center;
}
#classesSubHeaderTxt, #classesDescriptionTxt {
    font-size: 1.2em;
}
#classesSubHeaderTxt {
    margin-bottom: .5em;
}
#classesDescriptionTitle {
    @extend %classTitleFont;
    display: inline;
}
.classIcon {
    vertical-align: bottom;
    margin-left: .2em;
    width: 35px;
    height: 35px;
}
#classesDescriptionTxt {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
    margin-bottom: .5em;
}


#classDisplayDiv {
    margin: auto;
    height: 2px;
    max-width: 200px;
    border-radius: 5px;
    text-align: left;
    background-color: #00af5277;
}
.attribute {
    font-style: bold;
    color: rgb(255, 117, 31);
    font-size: 1.2em;
    padding: .3em;
    margin-left: 1.2em;
}











    







